@tailwind base;
@tailwind components;
@tailwind utilities;

.banner_btn:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.banner--fadebottom {
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

.truncate-sm {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 640px) {
  .truncate-sm {
    white-space: initial;
    overflow: visible;
    text-overflow: unset;
  }
}

body {
  background-color: #000;
}

.scrollbar_hide::-webkit-scrollbar {
  display: none;
}

@media (max-width: 640px) {
  .more__details {
    margin-top: 285px;
  }
}
